In [4]:
import pandas as pd
import re

def convert_formats_to_floats(df):
    pattern = re.compile(r'^-?\d{1,3}(?:,\d{3})*(?:\.\d+)?$')
    df = df.apply(lambda x: x.str.rstrip('%').str.replace(',', '').astype('float') / 100 
                              if x.dtype == object and '%' in x.iloc[0] 
                              else x)
    df = df.apply(lambda x: x.apply(lambda y: float(y) if pattern.match(str(y)) else y) 
                          if x.dtype == object else x)
    return df

In [4]:
import pandas as pd
import numpy as np

# Example dataframe
df = pd.DataFrame({
    'Column1': [1, np.nan, 3, 4],
    'Column2': [5, np.nan, 7, 8],
    'Column3': [9, 10, np.nan, np.nan],
    'Column4': [11, 13, 14, np.nan]
})

# Method to split dataframe based on missing values
def split_dataframe(df):
    # Get row indexes with NaN or missing values
    row_indexes = df.index[df.isna().any(axis=1)]
    
    # Create dataframe with rows containing missing values
    missing_values_df = df.loc[row_indexes]
    
    # Create dataframe with rows containing non-missing values
    non_missing_values_df = df.drop(row_indexes)
    
    return missing_values_df, non_missing_values_df

# Call the method to split the dataframe
missing_values_df, non_missing_values_df = split_dataframe(df)
print("DataFrame with Missing Values:")
print(missing_values_df)
print("DataFrame with Non-Missing Values:")
print(non_missing_values_df)

pd.concat([non_missing_values_df,missing_values_df])

DataFrame with Missing Values:
   Column1  Column2  Column3  Column4
1      NaN      NaN     10.0     13.0
2      3.0      7.0      NaN     14.0
3      4.0      8.0      NaN      NaN
DataFrame with Non-Missing Values:
   Column1  Column2  Column3  Column4
0      1.0      5.0      9.0     11.0

   Column1  Column2  Column3  Column4
0      1.0      5.0      9.0     11.0
1      NaN      NaN     10.0     13.0
2      3.0      7.0      NaN     14.0
3      4.0      8.0      NaN      NaN

In [1]:
import pandas as pd
import numpy as np

# Example dataframe
df = pd.DataFrame({
    'Column1': [1, np.nan, 3],
    'Column2': [np.nan, np.nan, 6],
    'Column3': [4, np.nan, np.nan],
    'Column4': [np.nan, np.nan, np.nan]
})

# Method to slice dataframe to columns with values
def slice_dataframe(df):
    # Check for columns with at least one non-NaN value
    valid_columns = df.columns[df.notna().any()]
    
    # Slice dataframe to include only valid columns
    sliced_df = df[valid_columns]

    # Find row indexes with nan values
    nan_indexes = df.index[df.isna()].any(axis=1)

    
    
    return sliced_df

# Call the method to slice the dataframe
sliced_df = slice_dataframe(df)
print(sliced_df)

   Column1  Column2  Column3
0      1.0      NaN      4.0
1      NaN      NaN      NaN
2      3.0      6.0      NaN

In [5]:
import re

pattern = re.compile(r'(\((\d{1,3}(?:,\d{3})*|\d+(?:\.\d+)?)\)|-?\d{1,3}(?:,\d{3})*(?:\.\d+)?)')

my_string = '-1248.87'

if pattern.search(my_string):
    print(f"match found: {my_string}")
    print(pattern.search(my_string).group())
else:
    print('fail')

match found: -1248.87
-124

In [7]:
# import pandas as pd
# import re

# def convert_percent(value):
#     return float(value.replace('%', '')) / 100

# def convert_dollar(value):
#     return float(value.replace('$', '').replace(',', ''))

# def convert_accounting(value):
#     return -1 * float(value.replace('(', '-').replace(')', '').replace('$', '').replace(',', ''))

# def convert_number_formats(df):
#     regex_compilers = {
#         'percent': re.compile(r'\d+(\.\d+)?%'),
#         'dollar': re.compile(r'\$[\d,]+(\.\d+)?'),
#         'accounting': re.compile(r'\(\$\d+([\d,]+)?(\.\d+)?\)')
#     }

#     for col in df.columns:
#         if df[col].dtype == 'object':
#             for format, regex in regex_compilers.items():
#                 mask = df[col].str.contains(regex)
#                 if mask.any():
#                     if format == 'percent':
#                         df.loc[mask, col] = df.loc[mask, col].apply(lambda x: convert_percent(x))
#                     elif format == 'dollar':
#                         df.loc[mask, col] = df.loc[mask, col].apply(lambda x: convert_dollar(x))
#                     elif format == 'accounting':
#                         df.loc[mask, col] = df.loc[mask, col].apply(lambda x: convert_accounting(x))
    
#     return df

# # Create an example DataFrame
# df = pd.DataFrame({'A': ['10%', '$1,234.56', '(5,000)', 'N/A'], 'B': ['(3,000.50)', '$500', '2,000.50', 'N/A']})

# # Convert number formats in the DataFrame
# df = convert_number_formats(df)

# print(df)

In [8]:
import time

def measure_runtime(func):
    def wrapper(*args, **kwargs):
        start_time = time.time()
        result = func(*args, **kwargs)
        end_time = time.time()
        runtime = end_time - start_time
        print(f"Runtime of {func.__name__}: {runtime} seconds")
        return result
    return wrapper

In [9]:
import numpy as np
import pandas as pd

# method 1
def find_digit(str_value: str) -> float:
    temp_bin = []
    temp_values = [1,1]
    for ch in str_value:
        if '-' in ch or '.' in ch:
            temp_bin.append(ch)
        elif ch.isdigit():
            temp_bin.append(ch)
        elif ch == "(":
            temp_values[0] = -1
        elif ch == "%":
            temp_values[1] = 100
    new_value = ''.join(temp_bin)
    if new_value != '':
        return (float(new_value) * temp_values[0] ) / temp_values[1]
    
    else: return str_value

# method 2
def find_digit(str_value: str) -> float:
    if re.search('[a-zA-Z]', str_value):
        return str_value
    temp_bin = [ch for ch in str_value if ch.isdigit() or ch in '-.']
    temp_values = [1, 1]
    
    for ch in str_value:
        if ch == '(':
            temp_values[0] = -1
        elif ch == '%':
            temp_values[1] = 100
    
    new_value = ''.join(temp_bin)
    if new_value != '':
        return (float(new_value) * temp_values[0]) / temp_values[1]
    else:
        return str_value

@measure_runtime
def convert_number_formats(df):
    for col in df.columns:
        if df[col].dtype == 'object':
            df[col] = df[col].apply(lambda x: find_digit(x) if pd.notnull(x) else x)
    return df

# Create an example DataFrame
df = pd.DataFrame({'A': ['10%', '$1,234.56', '(5,000)', 'N/A'], 'B': ['(3,0000.50)', '$500', '2,000.50', 'N/A']})

# Convert number formats in the DataFrame
df = convert_number_formats(df)

df.replace(['N/A', 'None', ''], np.nan, inplace=True)

print(df)

Runtime of convert_number_formats: 0.0020017623901367188 seconds
         A        B
0     0.10 -30000.5
1  1234.56    500.0
2 -5000.00   2000.5
3      NaN      NaN

In [10]:
method_1 = 0.0010008811950683594
method_2 = 0.0019881725311279297

(method_1 - method_2) / method_1

-0.9864221057646498

In [11]:
import re

string = '44,404'

string = '5-8-99'

string = string.replace(',','')

pattern = re.compile(r'[0-9]+')

match = pattern.match(string)
if match:

    print(match.group())

5

In [12]:
import numpy as np




def rm_commas(string_var):
    return string_var.replace(',','')

[s for s in map(rm_commas, string)]

['5', '-', '8', '-', '9', '9']

In [13]:
import datetime
import pandas as pd
def conv_date(d:str)-> datetime.date:
    """Convert MOST dates -- input a string format"""
    d = d.replace(',','')    
    # If it is some attempt at a date, give it a shot with the coerce exception return
    if '-' in d or '/' in d:
        try:
            new_date = pd.to_datetime(d)
            return new_date.date()
        except:
            print('except execute')
            return pd.to_datetime(d,errors='coerce')
    else:
        # assume its serialized, give it a shot with a Not-A-Time exception return 
        pattern = re.compile(r'[0-9]+')
        match = pattern.match(d)
        if match:
            try:
                new_date = pd.to_datetime('1899-12-30') + pd.to_timedelta(int(match.group()), 'D')
                print('re execute')
                return new_date.date()
            except:
                return pd.NaT
            
maybe_dates = np.array(['44404','44569','44,569', '44,56,9','12-05-2021'])

[d for d in map(conv_date, maybe_dates)]

re execute
re execute
re execute
re execute

[datetime.date(2021, 7, 27),
 datetime.date(2022, 1, 8),
 datetime.date(2022, 1, 8),
 datetime.date(2022, 1, 8),
 datetime.date(2021, 12, 5)]

In [21]:
x = conv_date('2021-03-05')
y = conv_date('2047-01-15')

delta = y - x

delta.days

314.9

In [26]:
from dateutil.relativedelta import relativedelta
from datetime import datetime

date1 = datetime(2022, 3, 15)
date2 = datetime(2023, 6, 9)

diff = relativedelta(date2, date1)
print(diff)
print(diff.years)
print(diff.months)
months = diff.years * 12 + diff.months

print(months)  # Output: 15

relativedelta(years=+1, months=+2, days=+25)
1
2
14

In [32]:
def month_diff(start_date: datetime.date, end_date: datetime.date) -> int:
    """Calculate the difference in months between two dates"""
    diff = relativedelta(end_date, start_date)
    return diff.years * 12 + diff.months

date1 = datetime(2021, 7, 16)
date2 = datetime(2047, 1, 9)

month_diff(date1,date2)

305

In [37]:
def days_diff(start_date: datetime.date, end_date: datetime.date) -> int:
    return pd.Timedelta(end_date-start_date).days

days_diff(date1,date2)

9308

In [38]:
data = {'A': [1,2,3], 'B':['A','B','C']}
df = pd.DataFrame(data)

mask = (df['A']>1) & (df['B']=='C')

df[mask]

   A  B
2  3  C

In [41]:
def term_bucket(test):
    term_mapping = {
        1 : range(0,96)
        
    }
    print(term_mapping)


term_bucket()

{1: range(0, 96)}

In [45]:
import numpy as np

def term_bucket(value):
    term_mapping = {
        1: range(0, 96),
        2: range(97, 132),
        3: range(132, 192),
        4: range(192, 252),
        5: range(252, 500)
    }
    
    for key, range_values in term_mapping.items():
        if value in range_values:
            return key
    
    # Return a default value if no match is found
    return None

test_values = [10, 12, 100, 63]
for value in test_values:
    print(term_bucket(value))

1
1
2
1

In [49]:
test=[305,
307,
301,
302,
303,
309,
309,
300,
301,
301,
300,
312,
300,
300,
313,
313,
311,
301,
301,
301,
309,
304]

print(list(map(term_bucket,test)))

[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]